---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
---

<div class="mt-16"></div>
<footer id="about-us" class="relative">
  <!-- bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-16 -->
  <div class="absolute right-0 top-0 h-full w-full flex justify-end">
    <div class="w-28 h-28 flex rounded-xl relative blur-2xl md:block hidden">
      <span
        class="absolute w-32 h-32 -top-1 -right-1 bg-green-400 rounded-md rotate-45 opacity-60 blur-2xl"
      ></span>
      <!-- <span
        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
      ></span> -->
    </div>
  </div>

  <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
    <div class="w-28 h-28 flex rounded-xl relative blur-2xl md:block hidden">
      <!-- <span
        class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-200 blur-2xl left-0 bottom-0"
      ></span> -->
      <!-- <span
        class="absolute w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95"
      ></span> -->
      <span
        class="absolute w-32 h-32 -top-1 -right-1 bg-green-400 rounded-md rotate-45 opacity-60 blur-2xl"
      ></span>
      <!-- <span
        class="absolute w-16 h-16 aspect-[16/5] -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 aspect-[16/5] -bottom-1 -left-1 bg-primary rounded-md rotate-45"
      ></span> -->
    </div>
  </div>
  <Container className="pb-8 relative overflow-hidden ">
    <span
      class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 blur-2xl opacity-20 w-24 h-16 sm:w-48 sm:h-36 rounded-full rotate-12 skew-x-6 bg-primary"
    ></span>
    <div class="relative mx-auto text-center max-w-xl md:max-w-2xl relative">
      <a href="#" class="relative flex items-center gap-3">
        <div>
          <img src="/images/Aerotheory.svg" alt="Logo" width="48" height="48" />
        </div>
        <div
          class="inline-flex text-2xl font-semibold text-heading-1 pl-6 md:pl-0"
        >
          Aerotheory
        </div>
      </a>
      <Paragraph className={"mt-8"}>
        <span>email: aerotheory@gmail.com</span><br />
        <span>mobile: 0416710153</span><br /><br />
      </Paragraph>
      <Paragraph>
        <span class="text-xs">Aerotheory Enterprises Pty Ltd</span>
        <br />
        <span class="text-xs">ABN: 53 135 354 675</span><br />
        <span id="year" class="text-xs">&copy; 2023.</span>
        <span class="text-xs"> All rights reserved.</span>
      </Paragraph>
    </div>
  </Container>
</footer>
